html, body {
	height : 100%;
	margin: 0;
	background: #432;
	color: white;
}

img {
	position: absolute;
	top: 35%;
	left: 35%;
	height: 30%;
	width: 30%;
	cursor: pointer;
}

p {
	margin: 5px;
}

.mobile,
.run div {
	display: none;
}
.is-mobile .mobile {
	display: block;
}

.copyright {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
	text-decoration: none;
	font-size: small;
}
.copyright a:link,
.copyright a:visited {
	color: white;
}