html, body {
	margin: 0;
	background: #432;
	color: #ffd700;
}

a { /* remove link hilight in chrome when pressed */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
	position: absolute;
	top: 35%;
	left: 35%;
	height: 30%;
	width: 30%;
	cursor: pointer;
}

p {
	margin: 5px;
}

.mobile,
.run div {
	display: none;
}
.is-mobile .mobile {
	display: block;
}

.copyright {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
	font-size: small;
}
.copyright a:link,
.copyright a:visited {
	color: #ffd700;
	text-decoration: none;
}